# Import the needed libraries

In [1]:
import pandas as pd
import numpy as np

# Reading Our Dataset

In [2]:
df = pd.read_excel(r"C:\Users\Vijay J\Documents\Project_Work\Dataset\Users_Shopping_Data.xlsx")

In [3]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

# EDA - Exploratory Data Analysis

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3900 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

### Here we can make sure that, our dataset doesn't have any null, because all Non-null counts are same for all

# Despite, Let's check, if there is any null values further.

In [6]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

## So, No more null values......

# Let's find the data types of our columns

In [7]:
df.dtypes

Customer ID                 int64
Age                         int64
Gender                     object
Item Purchased             object
Category                   object
Purchase Amount (USD)       int64
Location                   object
Size                       object
Color                      object
Season                     object
Review Rating             float64
Subscription Status        object
Shipping Type              object
Discount Applied           object
Promo Code Used            object
Previous Purchases          int64
Payment Method             object
Frequency of Purchases     object
dtype: object

# 1. Age Segmentation (Demographic Segmentation)

In [13]:
def age_segmt(age):
    if age >= 18 and age <= 25:
        return '18-25'
    elif age > 25 and age <=35:
        return '26-35'
    elif age > 35 and age <= 50:
        return '36-50'
    else:
        return 'Above_50'
df['Age_Category'] = df['Age'].apply(age_segmt)
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,Age_Category
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,Above_50
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,18-25
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,36-50
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,18-25
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,36-50

#  2. Purchase Behavior Segmentation

In [14]:
def categorize_spenders(pur_amt):
    if pur_amt <= 50:
        return 'Low_Spender'
    elif pur_amt <= 80:
        return 'Moderate_Spender'
    else:
        return 'High_Spender'

df['Spender Category'] = df['Purchase Amount (USD)'].apply(categorize_spenders)
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,Age_Category,Spender Category
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,Above_50,Moderate_Spender
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,18-25,Moderate_Spender
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,36-50,Moderate_Spender
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,18-25,High_Spender
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,36-50,Low_Spender

# 3. Frequency of Purchases

In [8]:
for i in df['Frequency of Purchases'].unique():
    print(i)

Fortnightly
Weekly
Annually
Quarterly
Bi-Weekly
Monthly
Every 3 Months

In [15]:
frequent = ['Fortnightly','Weekly','Bi-Weekly','Monthly']
occasion = ['Annually','Every 3 Months','Quarterly']
def frequency (x):
    if x in frequent:
        return 'Frequent_Buyer'
    elif x in occasion:
        return 'Occasional_Buyer'
df['Purchase Frequency'] = df['Frequency of Purchases'].apply(frequency)
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,...,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,Age_Category,Spender Category,Purchase Frequency
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,...,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,Above_50,Moderate_Spender,Frequent_Buyer
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,...,Yes,Express,Yes,Yes,2,Cash,Fortnightly,18-25,Moderate_Spender,Frequent_Buyer
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,...,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,36-50,Moderate_Spender,Frequent_Buyer
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,...,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,18-25,High_Spender,Frequent_Buyer
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,...,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,36-50,Low_Spender,Occasional_Buyer

# 4. Psychographic Segmentation

In [20]:
df['Price_Sensitivity_Segmentation'] = df.apply(
    lambda row: 'Price-Sensitive Customer' if row['Discount Applied'] == 'Yes' and row['Promo Code Used'] == 'Yes' 
    else 'Premium Shopper', 
    axis=1
)
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,...,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,Age_Category,Spender Category,Purchase Frequency,Price_Sensitivity_Segmentation
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,...,Express,Yes,Yes,14,Venmo,Fortnightly,Above_50,Moderate_Spender,Frequent_Buyer,Price-Sensitive Customer
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,...,Express,Yes,Yes,2,Cash,Fortnightly,18-25,Moderate_Spender,Frequent_Buyer,Price-Sensitive Customer
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,...,Free Shipping,Yes,Yes,23,Credit Card,Weekly,36-50,Moderate_Spender,Frequent_Buyer,Price-Sensitive Customer
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,...,Next Day Air,Yes,Yes,49,PayPal,Weekly,18-25,High_Spender,Frequent_Buyer,Price-Sensitive Customer
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,...,Free Shipping,Yes,Yes,31,PayPal,Annually,36-50,Low_Spender,Occasional_Buyer,Price-Sensitive Customer

# 5.  Customer Satisfaction Segmentation

In [21]:
def satisf(rate):
    if rate >= 3.5:
        return 'Satisfied Customers'
    else:
        return 'Dissatisfied Customers'
df['Customer_Satisfaction'] = df['Review Rating'].apply(satisf)
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,...,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,Age_Category,Spender Category,Purchase Frequency,Price_Sensitivity_Segmentation,Customer_Satisfaction
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,...,Yes,Yes,14,Venmo,Fortnightly,Above_50,Moderate_Spender,Frequent_Buyer,Price-Sensitive Customer,Dissatisfied Customers
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,...,Yes,Yes,2,Cash,Fortnightly,18-25,Moderate_Spender,Frequent_Buyer,Price-Sensitive Customer,Dissatisfied Customers
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,...,Yes,Yes,23,Credit Card,Weekly,36-50,Moderate_Spender,Frequent_Buyer,Price-Sensitive Customer,Dissatisfied Customers
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,...,Yes,Yes,49,PayPal,Weekly,18-25,High_Spender,Frequent_Buyer,Price-Sensitive Customer,Satisfied Customers
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,...,Yes,Yes,31,PayPal,Annually,36-50,Low_Spender,Occasional_Buyer,Price-Sensitive Customer,Dissatisfied Customers

# 6. Subscription Status Segmentation

In [25]:
df['Subscription Status'] = df['Subscription Status'].replace({'Yes': 'Subscribers', 'No': 'Non-Subscribers'})
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,...,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,Age_Category,Spender Category,Purchase Frequency,Price_Sensitivity_Segmentation,Customer_Satisfaction
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,...,Yes,Yes,14,Venmo,Fortnightly,Above_50,Moderate_Spender,Frequent_Buyer,Price-Sensitive Customer,Dissatisfied Customers
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,...,Yes,Yes,2,Cash,Fortnightly,18-25,Moderate_Spender,Frequent_Buyer,Price-Sensitive Customer,Dissatisfied Customers
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,...,Yes,Yes,23,Credit Card,Weekly,36-50,Moderate_Spender,Frequent_Buyer,Price-Sensitive Customer,Dissatisfied Customers
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,...,Yes,Yes,49,PayPal,Weekly,18-25,High_Spender,Frequent_Buyer,Price-Sensitive Customer,Satisfied Customers
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,...,Yes,Yes,31,PayPal,Annually,36-50,Low_Spender,Occasional_Buyer,Price-Sensitive Customer,Dissatisfied Customers

# Let's download the final updated data set..

In [26]:
df.to_csv(r"C:\Users\Vijay J\Documents\Project_Work\Dataset\Users_Shopping_Data_Updated.csv",index = False)